/* Edita caixa do banner principal */
.banner{
    background: var(--azul-gradiente);
    color: var(--cor-branca-principal);
    text-align: center;
    padding: 2.5em 2em;
}
 /* Edita o titulo do banner principal */
.banner__titulo{

    font-size: 18px;
    font-weight: 700;
    margin: 1em;
    
}

/* Edita o texto do banner principal */
.banner__texto{

    font-size: 16px;
    font-weight: 500;
    margin: 1em;
}

/* Edita a caixa de pesquisa */
.banner__pesquisa{

    border: 1px solid var(--cor-branca-principal);
    border-radius: 24px;
    background: transparent;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

/* Edita o conteudo da caixa de pesquisa, como imagem da lupa e o texto */
.banner__pesquisa::placeholder{

    background-image: url(../img/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 1em;
    font-family: var(--fonte-principal);
    color: var(--cor-branca-principal);
    font-size: 14px;
    font-weight: 400;
}

@media screen and (min-width: 1024px) {

    /* Edita o titulo do Banner */
    .banner__titulo{

        font-size: 36px;
        font-weight: 700;
        margin: 0.5em 0;
    }
    
    /* Edita o texto do banner */
    .banner__texto{

        font-size: 16px;
        font-weight: 500;
        margin-bottom: 1.5em;
    }

    /* Edita a barra de pesquisa do banner */

    .banner__pesquisa{

        width: 50%;
        padding: 1em;
        font-size: 16px;
        font-weight: 400;
    }

    /* Edita o conteudo da barra de pesquisa do banner */

    .banner__pesquisa::placeholder{

        background-position: 5em;
        
    }
}

@media screen and (min-width: 1728px){


    /* Edita a caixa do banner */

    .banner{

        padding: 5em 0;
    }
    /* Edita o titulo do banner */
    .banner__titulo{

        font-size: 36px;
        font-weight: 700;
    }

    /* Edita o texto do banner */
    .banner__texto{

        font-size: 16px;
        font-weight: 500;
    }

    /* Edita a barra de pesquisa */

    .banner__pesquisa{

        width: 40%;
    }

    /* Edita o conteudo da barra de pesquisa */
    .banner__pesquisa::placeholder{

        background-position: 9em;
        font-size: 16px;
        font-weight: 400;
    }
}